<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Powder Planner</title>

    <!-- css -->
    <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
<!-- header -->
<header id="site-header">
  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a  href="/" class="navbar-brand">Powder Planner</a>
      </div>
    </div>
  </div>
</header>

<!--main-->
<main id="site-main">
  <div class="container">
    <%- body %>
  </div>
</main>


<!--footer-->

<footer id="site-footer">
  Copyright &copy; Auburn Wiles 2018

  </body>
</html>
