<div class="jumbotron text-center">
    <h1>Shred The Gnar</h1>

    <a href="/locations" class="btn btn-lg btn-danger">See Locations</a>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</div>
